---
title: About
layout: page
pageOrder: 3
---

img(src='/img/photo.jpg',alt='Bert Willems',class='pull-right img-thumbnail',style='height:228px')

p Hello, I am Bert Willems, welcome to my personal website.

h3 Software Development Passion
p My great passion is development of software, I simply love doing it. Since I was young I have been fascinated by technique and constructing things, first with Lego and later on things for the computer. I started with simple websites and some scripting of games, and then I decided I would make a career out of it and started with the development of business software. I am not sure why I love programming so much, but I know it has something to do with expressing my creativity in it.

h3 Field hockey
p Another hobby of mine is field hockey. I have been playing it since I was a little boy and I still love doing it. I occasionally referee a match and I coach a junior team. It is an excellent way to relax for me.

h3 Music
p I listen to a wide variety of music genres, preferably all day. While I am programming I often listen to trance live sets of the worlds best DJs, like: Tiesto, Armin van Buuren and Above and Beyond. I guess trance is my favourite music genre, but certainly not the only one. I like Trance, Dance, Hardstyle, Rock, Metal, Gothic, Hip-hop, Nederhop (Dutch hip-hop), Blues and Jazz. Some of my favourite artists are: Pink Floyd, Enya, Sash!, Tiesto, The Sunclub, and the Dire Straits.

h3 Movies
p As with music, I watch different genres of movies, depending on with whom I am watching and in what mood I am. I love movies in which are spoken in the British, Scottish or Irish accent, like: ‘Lock, Stock and Two Smoking Barrels’, ‘Trainspotting’ and the ‘Boondock Saints’, I also love movies made by Quentin Tarantino or movies like ‘Garden State’. Music movies or concerts are also great. I don’t generally like the typical Hollywood movies, I get the feeling I already saw them all, which is obviously not the case. I almost forgot to mention ‘Ghost in the Shell’!
