---
title: Bye old stack, hello 2014 stack
layout: post
tags: ['software development', 'microsoft', 'google', 'user experience', 'fontoxml']
date: 2014-01-01
abstract: A story about why I migrated from my old tool stack to my new one.
---

p Since it is a new year, I felt like getting rid of old broken stuff, which no longer works for me, and replace it with new stuff. Today I did two things: migrate my email from Exchange to Google Apps and this blog from WordPress to DocPad. 

p The reason why I migrated my personal mail from Microsoft Exchange is that my Android smartphone could no longer sync with Microsoft ActiveSync and given that I need my mail on my phone I faced a dilemma: Either get a new phone or switch to a different mail provider. I chose the switch. Although this is pure vendor lock-in, in this case I don't particularly care because I love the Google Apps. The user experience of GMail works like I would expect from a modern web application. It is years ahead compared to the Outlook Web Access interface I had been using up until now.

p The second thing I did was migrating this weblog from WordPress to DocPad. The main reason is that I am going to revive this blog because its is going to be an exciting year! I will be learning new technologies & skills and I will face new problems to tackle. On this blog I will share my experiences.

p I choose DocPad above WordPress, or other existing blog platforms, because of an experience I had with RevealJS a few weeks ago: I had to give a talk about continuous deployment and I needed some slides. As a developer I didn't want to use PowerPoint, because it always makes me focus on the look and feel. So I decided to try <a href="https://github.com/hakimel/reveal.js/">RevealJS</a> and it just worked for me: within 15 minutes I had my slides ready and it even looked fancy. I learned that writing Markdown allowed me to focus more on the task at hand, because I could see the content structure without having to worry about the actual presentation!

p Both migrations enable me to get more stuff done in less time, so basically this is performance optimization and garbage collection in one.

p So why is this relevant? Starting this year, after a ramp-up period of 3 months, we @<a href="http://www.fontoxml.com/" title="FontoXML - Web-based XML editor">FontoXML</a>, will start full-speed development of our online XML and DITA editor. Both applications require a cutting edge user experience in order to provide a next generation authoring experience.

p Stay tuned for updates!
