html, body, .container
	height 100%

.container
	width 100%
	max-width 100%

.top
	position fixed
	width 100%

	.col-left,
	.col-right
		padding 0

	.brand
		background #333
		margin: 0
		padding 10px 30px
		a
			color #fff
			font-size 1.5em
			padding 10px 0

	.list-inline
		display table
		margin 0
		padding 0
		text-align center
		width 100%

		li
			display table-cell
			margin 0
			padding 0
			width 25%

			&.active
				background #f7

			a
				border-right 1px solid #e6
				color #333
				display block
				font-size 1.5em
				padding 10px 0
				text-transform uppercase

.bottom
	height 100%
	padding-top 50px

	.col-left,
	.col-right
		height 100%
		overflow auto
	.col-right
		background-color #f7
