---
title: Extending your Successful Website: Improve your Search Engine
layout: post
tags: ['improve website', 'successes and failures', 'visitor flow']
date: 2009-10-24
---

p As I showed you in my previous post, <a title="Expanding your Website: Make your Visitors Feel Home" href="/posts/2009/make-your-visitors-feel-home">Expanding your Website: Make your Visitors Feel Home</a>, innovation on your website is a must in order to keep ahead of your competitors.

p Everybody knows that making your content findable is important. There are numerous websites dedicated to optimizing your website for the Google, Yahoo, Bing and Ask. The term SEO (Search Engine Optimization) is commonly known and I am not going to talk about that!

p In this article I am going to talk about improvements you can make to your website’s internal search engine. If your website does not contain a lot of content or the content is highly volatile this article might not be relevant for you.

p However if your content is really specific, for example:

ul
	li Job offers
	li Location based (company addresses, houses, appliances, etc.)
	li Articles or Whitepapers about specific subjects

p This article is a must read for you. First we will get through 2 cases I made to give you idea in what ways you can improve the user experience. Next we will talk about different technologies and selection criteria for search engines.

h3 Case one: Job offers
p Job offers are an excellent example of location bound content, for example: if I live in Holland I really don’t care about job offers in America (unless I am thinking about immigrating there off course). Make sure your job offers have a country and preferably a city as search criteria. As a user I want to be able to search for jobs in a specific city or region. I want to supply a maximum distance I would be willing to commute to work.
p I also want to be able to search jobs by:
ul
	li Category, for example: accountant, software developer or secretary
	li Branch, for example: public service or health care
	li Salary range

p I want be able to see what other criteria I can use to refine my initial search query. If the query is too specific I want to be able to turn off some of these filters to broaden the search.

h3 Case two: Article Archive
p Your first job is to figure out what separates one article from another, in this case study I assume that there are 7 main themes to which an article belongs. I expect to be able to browse through each theme using the navigation as well as search in all themes or a specific one.

h3 Technology
p There are a lot of different search technologies available out there; ranging from freeware software to 1 million euro plus commercial solutions. Which solution is the best? It depends on your needs and wishes, the needs and wishes of your users and your budget of course.
p Let me give you an idea about the criteria for selecting a search engine:
ul
	li Precision, how relevant are the result returned from the search engine?
	li Recall, how much results which you expect to find are actually found?
	li Stop words, words like ‘a’, ‘in’ or ‘from’ are not relevant usually, does the search engine ignore those meaningless words?
	li Language support, the ability to handle different forms of a verb: 'walk’s' is equal to ‘walking; both are forms of the verb ‘to walk’. Every language is different. Some search engines can be tweaked to understand subtle differences in languages.
	li Synonyms, words that mean the same: automobile means the same as car.
	li Similarity, words that are related: a ‘car’ is a type of ‘vehicle’.
	li Performance, no one likes to wait half a minute for a result no matter how good it is.
	li Scalability, what happens when your site grows, can the search engine cope with that? Or will it come to a grinding halt?
	li Boosting, can you make one type of information more important than others? Or make news articles older than 2 weeks less important than new articles?
	li How often is the search index updated? Some engines update real-time, others update their index daily. If you have a site with volatile content you don’t want to wait a full day for it to become available in the search index.

p All those criteria together determine the search engine best suited for your site. Give each criterion enough thought before you make your decision. If you don’t feel confident you making the decision yourself consider hiring a specialist to support you. A proper search solution can make or break a site.

h3 User Interface
p A Visitor must be able to see a search box at all times, so visitors can perform Google style searching. This is the primary method users search through your content because visitors usually search with one or two keyword and use additional filters when they realize the result set is too big. The search box should be in a prominent and consistent spot on your site. After all: who wants to search for the search box?

p The type of search criteria you offer depends on the content you have. Remember the case with the job content? A visitor could search on the term ‘manager’ and then filter on a specific branch. Criteria give visitors the idea that it will limit the result set, make sure a filter returns at least one result; otherwise a visitor will be disappointment. A good practice is to show the number of results which a filter will return after the name of the filter. This kind of refinement is also called drilldown or facetted search.

p Another best practice is to help visitors to choose their keyword by guessing the word he/she tries to enter in the search box. This is called auto complete or search suggestion. Do not fill the auto suggest list with the entire dictionary but try to select words from the content domain. Also use this functionality to assist visitors to detect typos, the ‘Did you mean...’ functionality.

p Present the search results like Google does: clean and simple. Only show the most relevant information. If the content contains several information types use a small icon to differentiate between them. If you really have a lot of information you feel that a visitor must be able to see, without going to the detail page, consider placing that information in a popup which will activate when a user hovers over it.

h3 Making Money with your Search Engine
p You might consider a search engine to be an unfortunately necessity, a waste of effort and money only needed to keep your visitors happy but you can actually make money with it, I will give you some tips for it.

p There are plenty proven business models to make money here. Determine your model first and then determine the requirements for the search solution. Following these steps helps you from getting stuck with an expensive search solution earning you nothing.

p A commercially interesting possibility with search is contextual targeting because you know what your visitors are looking for. A great example is Google Adwords, it shows you relevant ads for the search you are doing. Try searching on ‘buy house’ I bet there will be some ads about mortgages. Of course you are not limited to simple text ads; you can show banners as well.

p If your website is about products of company presentations you might offer them to give their product a much bigger presentation in the search results so it will be a real eye catcher.

h3 Conclusion
p Adding a proper search engine to your website is a difficult job both technical and business wise. Although once you have gone through the pain you can actually make money with it!

p That is it, I hope this information was useful to you and will help you select a search engine, help improve your existing solution and make some money off it. There are plenty proven business models to make money here. Determine your model first and then determine the requirements for the search solution. Following these steps helps you from getting stuck with an expensive search solution earning you nothing.
