---
title: Expanding your Website: Make your Visitors Feel Home
layout: post
tags: ['improve website', 'successes and failures', 'visitor flow']
date: 2009-06-23
---

p Okay, let's assume that your website is up and running, you have a steady visitor flow. <a title="Google" href="http://www.google.com/" target="_blank">Google</a>, <a title="Yahoo" href="http://www.yahoo.com/" target="_blank">Yahoo</a>, <a title="Ask" href="http://www.ask.com/" target="_blank">Ask</a> and <a title="Bing" href="http://www.bing.com/" target="_blank">Bing</a> know how to find your website and acknowledge you as a valuable source of information. You add new content on a daily basis and your content is valuable to your visitors as you can see in your statistics tool. Your banner positions are filled and revenue is coming in, time to sit back and let the money come to you right?

p <strong>No</strong>, for one single reason: the competition will eventually catch up with you. You have to keep improving continuously to prevent competitors to catch up with you. How? Listen to the demands and wishes of your visitors! You have got to remember that they are in charge of your site, not you! Why? They are not loyal, they don't love you and they have a choice to go to a new player on your market or an innovating competitor.

p How can I learn what my visitors want, you ask yourself?
ul
	li Do not assume anything. Your visitors have a mind      of their own.
	li Analyze your statistics; understand what your      users are doing on your website. It really pays off to take a course in      <a title="Google Analytics" href="http://www.google.com/analytics/" target="_blank">Google Analytics</a> (or any other statistics tool) or hire a consultant to do      this job for you. For example: identify pages which cause visitors to      leave (= loose potential income) your website, they might not live up to      the expectations that your visitors have of your website.
	li Ask them. Send them a questionnaire about your      website in trade of a small gift. Maybe a subscription for a month to your      commercial content or a free report. Remember: you have to give in order      to receive!
	li Analyze the website of your competitors,      understand the strength and weaknesses of their websites and use that      knowledge to improve your website. I am not suggesting that you should      copy their websites, just learn from their successes and failures. Innovating      is more important than providing the same functionality as your      competitors.
	li Ask the experts. Your website is most likely      build by someone else than yourself, ask those guys for advice. Make sure      those guys know what they are doing: their core business is developing and      maintaining websites like your own. If you don't think your supplier is up      to that job, hire a consultant from a different company.

p I am sure there are a lot more advices to give and I invite you to add your own to this list as well as comment on the current ones. I started this post with the idea of improving the internal search engine of websites but I didn't have the time to do it yet. Don't worry though; I will post a follow up about that subject as soon as I can.

p In the mean while I hope this advice helps you to improve your website's visitor count and your revenue!
